# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# @contentstack:registry=https://npm.pkg.github.com/contentstack

@contentstack:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

@contentstack/live-preview-utils:registry=https://registry.npmjs.org/